process {

maxForks = 8
//executor = "condor"
}

params {

/* AN filter for variants.
 * only variants with AN >= an_cutoff will enter the analysis
*/
an_cutoff = "150"

/* Plain text list with rsIDs that had selection signals in the project
  provided by Humberto Flores at INMEGEN
  IMPORTANT: must provide as absolute path in your file system
*/
/* at luna */
rsid_list = "/home/iao/PhD/100G-MX-descriptive_analysis/nf-vcf-table-description/test/reference/selection-signals/78G_Selection_allsig.txt"
/* at castillo */
//rsid_list = "/home/iaguilar/Ongoing_projects/100GMX/003-ANfilter_and_Categorize_variants/nf-vcf-table-description/test/reference/selection-signals/78G_Selection_allsig.txt"
}
